In [37]:
import pandas as pd
filename = r'C:\\sqlite\\mysql\\code\\수업\\Groupby\\cereals.csv'
df = pd.read_csv(filename)
df.head()

                        Name    Manufacturer  Type  Calories  Fiber  Sugars
0                  100% Bran         Nabisco  Cold        70   10.0       6
1          100% Natural Bran     Quaker Oats  Cold       120    2.0       8
2                   All-Bran       Kellogg's  Cold        70    9.0       5
3  All-Bran with Extra Fiber       Kellogg's  Cold        50   14.0       0
4             Almond Delight  Ralston Purina  Cold       110    1.0       8

In [49]:
manufacturers = df.groupby('Manufacturer')
manufacturers

In [50]:
manufacturers.size()

Manufacturer
American Home Food Products     1
General Mills                  22
Kellogg's                      23
Nabisco                         6
Post                            9
Quaker Oats                     8
Ralston Purina                  8
dtype: int64

In [51]:
manufacturers.get_group("Nabisco")

                         Name Manufacturer  Type  Calories  Fiber  Sugars
0                   100% Bran      Nabisco  Cold        70   10.0       6
20     Cream of Wheat (Quick)      Nabisco   Hot       100    1.0       0
63             Shredded Wheat      Nabisco  Cold        80    3.0       0
64     Shredded Wheat 'n'Bran      Nabisco  Cold        90    4.0       0
65  Shredded Wheat spoon size      Nabisco  Cold        90    3.0       0
68    Strawberry Fruit Wheats      Nabisco  Cold        90    3.0       5

In [52]:
manufacturers.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [53]:
manufacturers["Sugars"].max()

Manufacturer
American Home Food Products     3
General Mills                  14
Kellogg's                      15
Nabisco                         6
Post                           15
Quaker Oats                    12
Ralston Purina                 11
Name: Sugars, dtype: int64

In [ ]:
Manufacturer 열의 값을 사용하여 시리얼을 그룹화 해보세요.
cereals = pd.read_csv("cereals.csv")
cereals.head()
manufacturers = cereals.groupby("Manufacturer")
print(manufacturers)

그룹의 총 개수와  그룹별 시리얼의 개수를 구하세요.
len(manufacturers)


제조업체(그룹) 'Nabisco'에 속하는 시리얼을 추출하세요.
manufacturers.get_group("Nabisco")

각 제조업체의 Calories, Fiber, Sugars 열 값의 평균을
계산하세요.

manufacturers.mean()


각 제조업체의 Sugar 열에서 최대값을 찾으세요.
manufacturers["Sugars"].max()


각 제조업체의 Fiber 열에서 최소값을 찾으세요.
manufacturers["Fiber"].min()

제조업체별로 설탕함량이 가장 낮은 시리얼을 새로운
 Dataframe으로 추출하세요.
def smallest_sugar_row(df):
    return df.nsmallest(1, "Sugars")

manufacturers.apply(smallest_sugar_row)