In [4]:
# 정수형
import pandas as pd
s= pd.Series([95, 90, 85, 90, 95])
s

0    95
1    90
2    85
3    90
4    95
dtype: int64

In [5]:
# 실수형
s = pd.Series([4, 3.5, 3.8, 3, 3.7])
s

0    4.0
1    3.5
2    3.8
3    3.0
4    3.7
dtype: float64

In [6]:
# 인덱스지정하기
s=pd.Series([90,80,95],index=['A','B','C'])
s

A    90
B    80
C    95
dtype: int64

In [7]:
# 넘파이로 배열생성하기
import numpy as np
import pandas as pd
arr = np.arange(12).reshape(4,3)
print(arr)
print()
df = pd.DataFrame(arr)
print(df)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [8]:
# 딕셔너리로 배열생성하기
df = pd.DataFrame({'name':['장은실','오경선','양숙희'],
                    'score':[90,80,95],
                    'dept':['com','eng','math']})
df

  name  score  dept
0  장은실     90   com
1  오경선     80   eng
2  양숙희     95  math

In [9]:
#csv파일 불러오기
filename='C:\\sqlite\\mysql\\code\\Code11\\1023_file\\mobile.csv'
df = pd.read_csv(filename)
df

     Brand   Color  price
0  Samsung   Black    100
1       LG    Gold     70
2    Apple  Silver    150
3    Apple    Gray    120

In [10]:
#filename='/content/drive/MyDrive/mobile.csv'
df = pd.read_csv(filename, index_col=0)
df

          Color  price
Brand
Samsung   Black    100
LG         Gold     70
Apple    Silver    150
Apple      Gray    120

In [11]:
filename='C:\\sqlite\\mysql\\code\\Code11\\1023_file\\weather.csv'
df = pd.read_csv(filename)
df

            date  temp  max_wind  mean_wind
0     2010-08-01  28.7       8.3        3.4
1     2010-08-02  25.2       8.7        3.8
2     2010-08-03  22.1       6.3        2.9
3     2010-08-04  25.3       6.6        4.2
4     2010-08-05  27.2       9.1        5.6
...          ...   ...       ...        ...
3648  2020-07-27  22.1       4.2        1.7
3649  2020-07-28  21.9       4.5        1.6
3650  2020-07-29  21.6       3.2        1.0
3651  2020-07-30  22.9       9.7        2.4
3652  2020-07-31  25.7       4.8        2.5

[3653 rows x 4 columns]

In [12]:
df.shape

(3653, 4)

In [13]:
df.head()

         date  temp  max_wind  mean_wind
0  2010-08-01  28.7       8.3        3.4
1  2010-08-02  25.2       8.7        3.8
2  2010-08-03  22.1       6.3        2.9
3  2010-08-04  25.3       6.6        4.2
4  2010-08-05  27.2       9.1        5.6

In [14]:
df.tail(3)

            date  temp  max_wind  mean_wind
3650  2020-07-29  21.6       3.2        1.0
3651  2020-07-30  22.9       9.7        2.4
3652  2020-07-31  25.7       4.8        2.5

In [15]:
df.index

RangeIndex(start=0, stop=3653, step=1)

In [17]:
df.columns

Index(['date', 'temp', 'max_wind', 'mean_wind'], dtype='object')

In [18]:
df.describe()

              temp     max_wind    mean_wind
count  3653.000000  3649.000000  3647.000000
mean     12.942102     7.911099     3.936441
std       8.538507     3.029862     1.888473
min      -9.000000     2.000000     0.200000
25%       5.400000     5.700000     2.500000
50%      13.800000     7.600000     3.600000
75%      20.100000     9.700000     5.000000
max      31.300000    26.000000    14.900000

In [19]:
#기온(temp) 컬럼의 평균 출력하기
df['temp'].mean()

12.942102381604162

In [20]:
df.sort_values(by='max_wind')

            date  temp  max_wind  mean_wind
1514  2014-09-23  20.7       2.0        1.0
1134  2013-09-08  20.4       2.1        0.8
421   2011-09-26  18.7       2.1        0.3
1512  2014-09-21  20.4       2.2        1.2
1005  2013-05-02   7.1       2.2        0.8
...          ...   ...       ...        ...
2988  2018-10-06  19.4      26.0        7.0
559   2012-02-11  -0.7       NaN        NaN
560   2012-02-12   0.4       NaN        NaN
561   2012-02-13   4.0       NaN        NaN
3183  2019-04-19   7.8       NaN        2.3

[3653 rows x 4 columns]

In [21]:
df.sort_values(by='max_wind', ascending=False) # 내림차순

            date  temp  max_wind  mean_wind
2988  2018-10-06  19.4      26.0        7.0
3340  2019-09-23  15.0      25.8       11.0
1850  2015-08-25  20.1      25.3       14.9
3339  2019-09-22  15.7      23.1       11.9
1851  2015-08-26  17.4      22.6        8.1
...          ...   ...       ...        ...
1514  2014-09-23  20.7       2.0        1.0
559   2012-02-11  -0.7       NaN        NaN
560   2012-02-12   0.4       NaN        NaN
561   2012-02-13   4.0       NaN        NaN
3183  2019-04-19   7.8       NaN        2.3

[3653 rows x 4 columns]

In [28]:
import pandas as pd
filename='C:\\sqlite\\mysql\\code\\Code11\\1023_file\\bank.csv'
bank=pd.read_csv(filename)
bank['job'].value_counts()
bank['job'].value_counts(ascending=True)

job
student           153
housemaid         208
unemployed        223
entrepreneur      239
self-employed     256
retired           351
services          661
admin.            834
technician       1206
blue-collar      1499
management       1560
Name: count, dtype: int64

In [29]:
bank['job'].unique()

array(['management', 'technician', 'blue-collar', 'retired', 'services',
       'admin.', 'entrepreneur', 'self-employed', 'unemployed', 'student',
       nan, 'housemaid'], dtype=object)

In [22]:
df['temp'] # df.temp
type(df['temp'])

pandas.core.series.Series

In [31]:
df[['date','temp']]

            date  temp
0     2010-08-01  28.7
1     2010-08-02  25.2
2     2010-08-03  22.1
3     2010-08-04  25.3
4     2010-08-05  27.2
...          ...   ...
3648  2020-07-27  22.1
3649  2020-07-28  21.9
3650  2020-07-29  21.6
3651  2020-07-30  22.9
3652  2020-07-31  25.7

[3653 rows x 2 columns]

In [32]:
df.loc[:,['date','temp']]

            date  temp
0     2010-08-01  28.7
1     2010-08-02  25.2
2     2010-08-03  22.1
3     2010-08-04  25.3
4     2010-08-05  27.2
...          ...   ...
3648  2020-07-27  22.1
3649  2020-07-28  21.9
3650  2020-07-29  21.6
3651  2020-07-30  22.9
3652  2020-07-31  25.7

[3653 rows x 2 columns]

In [33]:
df.iloc[:,[0,1]]

            date  temp
0     2010-08-01  28.7
1     2010-08-02  25.2
2     2010-08-03  22.1
3     2010-08-04  25.3
4     2010-08-05  27.2
...          ...   ...
3648  2020-07-27  22.1
3649  2020-07-28  21.9
3650  2020-07-29  21.6
3651  2020-07-30  22.9
3652  2020-07-31  25.7

[3653 rows x 2 columns]

In [34]:
df[0:3]

         date  temp  max_wind  mean_wind
0  2010-08-01  28.7       8.3        3.4
1  2010-08-02  25.2       8.7        3.8
2  2010-08-03  22.1       6.3        2.9

In [35]:
df.index=df['date']
df.loc['2010-08-01',['temp','mean_wind']]

temp         28.7
mean_wind     3.4
Name: 2010-08-01, dtype: object

In [36]:
df.iloc[3]

date         2010-08-04
temp               25.3
max_wind            6.6
mean_wind           4.2
Name: 2010-08-04, dtype: object

In [37]:
df.iloc[1:3,0:2]

                  date  temp
date
2010-08-02  2010-08-02  25.2
2010-08-03  2010-08-03  22.1

In [38]:
w=df['temp']>=30
df[w]

                  date  temp  max_wind  mean_wind
date
2013-08-08  2013-08-08  31.3       7.8        4.6
2013-08-09  2013-08-09  30.6       9.9        6.4
2013-08-10  2013-08-10  30.6       7.4        3.8
2018-07-23  2018-07-23  30.5       6.5        1.6
2018-08-04  2018-08-04  30.3       5.8        3.0

In [39]:
w=(df['temp']>=30) & (df['max_wind']>=9)
df[w]

                  date  temp  max_wind  mean_wind
date
2013-08-09  2013-08-09  30.6       9.9        6.4

In [40]:
w=df['temp']==df['temp'].max()
df[w]

                  date  temp  max_wind  mean_wind
date
2013-08-08  2013-08-08  31.3       7.8        4.6

In [23]:
df[df['max_wind'].isna()]

            date  temp  max_wind  mean_wind
559   2012-02-11  -0.7       NaN        NaN
560   2012-02-12   0.4       NaN        NaN
561   2012-02-13   4.0       NaN        NaN
3183  2019-04-19   7.8       NaN        2.3

In [24]:
# 결측데이터 컬럼별 확인
df.isnull().sum()

date         0
temp         0
max_wind     4
mean_wind    6
dtype: int64

In [25]:
df2=df.dropna()
df2.isnull().sum()

date         0
temp         0
max_wind     0
mean_wind    0
dtype: int64

In [26]:
# 결측 데이터 대체
df.fillna(df.mean(),inplace=True)

TypeError: Could not convert ['2010-08-012010-08-022010-08-032010-08-042010-08-052010-08-062010-08-072010-08-082010-08-092010-08-102010-08-112010-08-122010-08-132010-08-142010-08-152010-08-162010-08-172010-08-182010-08-192010-08-202010-08-212010-08-222010-08-232010-08-242010-08-252010-08-262010-08-272010-08-282010-08-292010-08-302010-08-312010-09-012010-09-022010-09-032010-09-042010-09-052010-09-062010-09-072010-09-082010-09-092010-09-102010-09-112010-09-122010-09-132010-09-142010-09-152010-09-162010-09-172010-09-182010-09-192010-09-202010-09-212010-09-222010-09-232010-09-242010-09-252010-09-262010-09-272010-09-282010-09-292010-09-302010-10-012010-10-022010-10-032010-10-042010-10-052010-10-062010-10-072010-10-082010-10-092010-10-102010-10-112010-10-122010-10-132010-10-142010-10-152010-10-162010-10-172010-10-182010-10-192010-10-202010-10-212010-10-222010-10-232010-10-242010-10-252010-10-262010-10-272010-10-282010-10-292010-10-302010-10-312010-11-012010-11-022010-11-032010-11-042010-11-052010-11-062010-11-072010-11-082010-11-092010-11-102010-11-112010-11-122010-11-132010-11-142010-11-152010-11-162010-11-172010-11-182010-11-192010-11-202010-11-212010-11-222010-11-232010-11-242010-11-252010-11-262010-11-272010-11-282010-11-292010-11-302010-12-012010-12-022010-12-032010-12-042010-12-052010-12-062010-12-072010-12-082010-12-092010-12-102010-12-112010-12-122010-12-132010-12-142010-12-152010-12-162010-12-172010-12-182010-12-192010-12-202010-12-212010-12-222010-12-232010-12-242010-12-252010-12-262010-12-272010-12-282010-12-292010-12-302010-12-312011-01-012011-01-022011-01-032011-01-042011-01-052011-01-062011-01-072011-01-082011-01-092011-01-102011-01-112011-01-122011-01-132011-01-142011-01-152011-01-162011-01-172011-01-182011-01-192011-01-202011-01-212011-01-222011-01-232011-01-242011-01-252011-01-262011-01-272011-01-282011-01-292011-01-302011-01-312011-02-012011-02-022011-02-032011-02-042011-02-052011-02-062011-02-072011-02-082011-02-092011-02-102011-02-112011-02-122011-02-132011-02-142011-02-152011-02-162011-02-172011-02-182011-02-192011-02-202011-02-212011-02-222011-02-232011-02-242011-02-252011-02-262011-02-272011-02-282011-03-012011-03-022011-03-032011-03-042011-03-052011-03-062011-03-072011-03-082011-03-092011-03-102011-03-112011-03-122011-03-132011-03-142011-03-152011-03-162011-03-172011-03-182011-03-192011-03-202011-03-212011-03-222011-03-232011-03-242011-03-252011-03-262011-03-272011-03-282011-03-292011-03-302011-03-312011-04-012011-04-022011-04-032011-04-042011-04-052011-04-062011-04-072011-04-082011-04-092011-04-102011-04-112011-04-122011-04-132011-04-142011-04-152011-04-162011-04-172011-04-182011-04-192011-04-202011-04-212011-04-222011-04-232011-04-242011-04-252011-04-262011-04-272011-04-282011-04-292011-04-302011-05-012011-05-022011-05-032011-05-042011-05-052011-05-062011-05-072011-05-082011-05-092011-05-102011-05-112011-05-122011-05-132011-05-142011-05-152011-05-162011-05-172011-05-182011-05-192011-05-202011-05-212011-05-222011-05-232011-05-242011-05-252011-05-262011-05-272011-05-282011-05-292011-05-302011-05-312011-06-012011-06-022011-06-032011-06-042011-06-052011-06-062011-06-072011-06-082011-06-092011-06-102011-06-112011-06-122011-06-132011-06-142011-06-152011-06-162011-06-172011-06-182011-06-192011-06-202011-06-212011-06-222011-06-232011-06-242011-06-252011-06-262011-06-272011-06-282011-06-292011-06-302011-07-012011-07-022011-07-032011-07-042011-07-052011-07-062011-07-072011-07-082011-07-092011-07-102011-07-112011-07-122011-07-132011-07-142011-07-152011-07-162011-07-172011-07-182011-07-192011-07-202011-07-212011-07-222011-07-232011-07-242011-07-252011-07-262011-07-272011-07-282011-07-292011-07-302011-07-312011-08-012011-08-022011-08-032011-08-042011-08-052011-08-062011-08-072011-08-082011-08-092011-08-102011-08-112011-08-122011-08-132011-08-142011-08-152011-08-162011-08-172011-08-182011-08-192011-08-202011-08-212011-08-222011-08-232011-08-242011-08-252011-08-262011-08-272011-08-282011-08-292011-08-302011-08-312011-09-012011-09-022011-09-032011-09-042011-09-052011-09-062011-09-072011-09-082011-09-092011-09-102011-09-112011-09-122011-09-132011-09-142011-09-152011-09-162011-09-172011-09-182011-09-192011-09-202011-09-212011-09-222011-09-232011-09-242011-09-252011-09-262011-09-272011-09-282011-09-292011-09-302011-10-012011-10-022011-10-032011-10-042011-10-052011-10-062011-10-072011-10-082011-10-092011-10-102011-10-112011-10-122011-10-132011-10-142011-10-152011-10-162011-10-172011-10-182011-10-192011-10-202011-10-212011-10-222011-10-232011-10-242011-10-252011-10-262011-10-272011-10-282011-10-292011-10-302011-10-312011-11-012011-11-022011-11-032011-11-042011-11-052011-11-062011-11-072011-11-082011-11-092011-11-102011-11-112011-11-122011-11-132011-11-142011-11-152011-11-162011-11-172011-11-182011-11-192011-11-202011-11-212011-11-222011-11-232011-11-242011-11-252011-11-262011-11-272011-11-282011-11-292011-11-302011-12-012011-12-022011-12-032011-12-042011-12-052011-12-062011-12-072011-12-082011-12-092011-12-102011-12-112011-12-122011-12-132011-12-142011-12-152011-12-162011-12-172011-12-182011-12-192011-12-202011-12-212011-12-222011-12-232011-12-242011-12-252011-12-262011-12-272011-12-282011-12-292011-12-302011-12-312012-01-012012-01-022012-01-032012-01-042012-01-052012-01-062012-01-072012-01-082012-01-092012-01-102012-01-112012-01-122012-01-132012-01-142012-01-152012-01-162012-01-172012-01-182012-01-192012-01-202012-01-212012-01-222012-01-232012-01-242012-01-252012-01-262012-01-272012-01-282012-01-292012-01-302012-01-312012-02-012012-02-022012-02-032012-02-042012-02-052012-02-062012-02-072012-02-082012-02-092012-02-102012-02-112012-02-122012-02-132012-02-142012-02-152012-02-162012-02-172012-02-182012-02-192012-02-202012-02-212012-02-222012-02-232012-02-242012-02-252012-02-262012-02-272012-02-282012-02-292012-03-012012-03-022012-03-032012-03-042012-03-052012-03-062012-03-072012-03-082012-03-092012-03-102012-03-112012-03-122012-03-132012-03-142012-03-152012-03-162012-03-172012-03-182012-03-192012-03-202012-03-212012-03-222012-03-232012-03-242012-03-252012-03-262012-03-272012-03-282012-03-292012-03-302012-03-312012-04-012012-04-022012-04-032012-04-042012-04-052012-04-062012-04-072012-04-082012-04-092012-04-102012-04-112012-04-122012-04-132012-04-142012-04-152012-04-162012-04-172012-04-182012-04-192012-04-202012-04-212012-04-222012-04-232012-04-242012-04-252012-04-262012-04-272012-04-282012-04-292012-04-302012-05-012012-05-022012-05-032012-05-042012-05-052012-05-062012-05-072012-05-082012-05-092012-05-102012-05-112012-05-122012-05-132012-05-142012-05-152012-05-162012-05-172012-05-182012-05-192012-05-202012-05-212012-05-222012-05-232012-05-242012-05-252012-05-262012-05-272012-05-282012-05-292012-05-302012-05-312012-06-012012-06-022012-06-032012-06-042012-06-052012-06-062012-06-072012-06-082012-06-092012-06-102012-06-112012-06-122012-06-132012-06-142012-06-152012-06-162012-06-172012-06-182012-06-192012-06-202012-06-212012-06-222012-06-232012-06-242012-06-252012-06-262012-06-272012-06-282012-06-292012-06-302012-07-012012-07-022012-07-032012-07-042012-07-052012-07-062012-07-072012-07-082012-07-092012-07-102012-07-112012-07-122012-07-132012-07-142012-07-152012-07-162012-07-172012-07-182012-07-192012-07-202012-07-212012-07-222012-07-232012-07-242012-07-252012-07-262012-07-272012-07-282012-07-292012-07-302012-07-312012-08-012012-08-022012-08-032012-08-042012-08-052012-08-062012-08-072012-08-082012-08-092012-08-102012-08-112012-08-122012-08-132012-08-142012-08-152012-08-162012-08-172012-08-182012-08-192012-08-202012-08-212012-08-222012-08-232012-08-242012-08-252012-08-262012-08-272012-08-282012-08-292012-08-302012-08-312012-09-012012-09-022012-09-032012-09-042012-09-052012-09-062012-09-072012-09-082012-09-092012-09-102012-09-112012-09-122012-09-132012-09-142012-09-152012-09-162012-09-172012-09-182012-09-192012-09-202012-09-212012-09-222012-09-232012-09-242012-09-252012-09-262012-09-272012-09-282012-09-292012-09-302012-10-012012-10-022012-10-032012-10-042012-10-052012-10-062012-10-072012-10-082012-10-092012-10-102012-10-112012-10-122012-10-132012-10-142012-10-152012-10-162012-10-172012-10-182012-10-192012-10-202012-10-212012-10-222012-10-232012-10-242012-10-252012-10-262012-10-272012-10-282012-10-292012-10-302012-10-312012-11-012012-11-022012-11-032012-11-042012-11-052012-11-062012-11-072012-11-082012-11-092012-11-102012-11-112012-11-122012-11-132012-11-142012-11-152012-11-162012-11-172012-11-182012-11-192012-11-202012-11-212012-11-222012-11-232012-11-242012-11-252012-11-262012-11-272012-11-282012-11-292012-11-302012-12-012012-12-022012-12-032012-12-042012-12-052012-12-062012-12-072012-12-082012-12-092012-12-102012-12-112012-12-122012-12-132012-12-142012-12-152012-12-162012-12-172012-12-182012-12-192012-12-202012-12-212012-12-222012-12-232012-12-242012-12-252012-12-262012-12-272012-12-282012-12-292012-12-302012-12-312013-01-012013-01-022013-01-032013-01-042013-01-052013-01-062013-01-072013-01-082013-01-092013-01-102013-01-112013-01-122013-01-132013-01-142013-01-152013-01-162013-01-172013-01-182013-01-192013-01-202013-01-212013-01-222013-01-232013-01-242013-01-252013-01-262013-01-272013-01-282013-01-292013-01-302013-01-312013-02-012013-02-022013-02-032013-02-042013-02-052013-02-062013-02-072013-02-082013-02-092013-02-102013-02-112013-02-122013-02-132013-02-142013-02-152013-02-162013-02-172013-02-182013-02-192013-02-202013-02-212013-02-222013-02-232013-02-242013-02-252013-02-262013-02-272013-02-282013-03-012013-03-022013-03-032013-03-042013-03-052013-03-062013-03-072013-03-082013-03-092013-03-102013-03-112013-03-122013-03-132013-03-142013-03-152013-03-162013-03-172013-03-182013-03-192013-03-202013-03-212013-03-222013-03-232013-03-242013-03-252013-03-262013-03-272013-03-282013-03-292013-03-302013-03-312013-04-012013-04-022013-04-032013-04-042013-04-052013-04-062013-04-072013-04-082013-04-092013-04-102013-04-112013-04-122013-04-132013-04-142013-04-152013-04-162013-04-172013-04-182013-04-192013-04-202013-04-212013-04-222013-04-232013-04-242013-04-252013-04-262013-04-272013-04-282013-04-292013-04-302013-05-012013-05-022013-05-032013-05-042013-05-052013-05-062013-05-072013-05-082013-05-092013-05-102013-05-112013-05-122013-05-132013-05-142013-05-152013-05-162013-05-172013-05-182013-05-192013-05-202013-05-212013-05-222013-05-232013-05-242013-05-252013-05-262013-05-272013-05-282013-05-292013-05-302013-05-312013-06-012013-06-022013-06-032013-06-042013-06-052013-06-062013-06-072013-06-082013-06-092013-06-102013-06-112013-06-122013-06-132013-06-142013-06-152013-06-162013-06-172013-06-182013-06-192013-06-202013-06-212013-06-222013-06-232013-06-242013-06-252013-06-262013-06-272013-06-282013-06-292013-06-302013-07-012013-07-022013-07-032013-07-042013-07-052013-07-062013-07-072013-07-082013-07-092013-07-102013-07-112013-07-122013-07-132013-07-142013-07-152013-07-162013-07-172013-07-182013-07-192013-07-202013-07-212013-07-222013-07-232013-07-242013-07-252013-07-262013-07-272013-07-282013-07-292013-07-302013-07-312013-08-012013-08-022013-08-032013-08-042013-08-052013-08-062013-08-072013-08-082013-08-092013-08-102013-08-112013-08-122013-08-132013-08-142013-08-152013-08-162013-08-172013-08-182013-08-192013-08-202013-08-212013-08-222013-08-232013-08-242013-08-252013-08-262013-08-272013-08-282013-08-292013-08-302013-08-312013-09-012013-09-022013-09-032013-09-042013-09-052013-09-062013-09-072013-09-082013-09-092013-09-102013-09-112013-09-122013-09-132013-09-142013-09-152013-09-162013-09-172013-09-182013-09-192013-09-202013-09-212013-09-222013-09-232013-09-242013-09-252013-09-262013-09-272013-09-282013-09-292013-09-302013-10-012013-10-022013-10-032013-10-042013-10-052013-10-062013-10-072013-10-082013-10-092013-10-102013-10-112013-10-122013-10-132013-10-142013-10-152013-10-162013-10-172013-10-182013-10-192013-10-202013-10-212013-10-222013-10-232013-10-242013-10-252013-10-262013-10-272013-10-282013-10-292013-10-302013-10-312013-11-012013-11-022013-11-032013-11-042013-11-052013-11-062013-11-072013-11-082013-11-092013-11-102013-11-112013-11-122013-11-132013-11-142013-11-152013-11-162013-11-172013-11-182013-11-192013-11-202013-11-212013-11-222013-11-232013-11-242013-11-252013-11-262013-11-272013-11-282013-11-292013-11-302013-12-012013-12-022013-12-032013-12-042013-12-052013-12-062013-12-072013-12-082013-12-092013-12-102013-12-112013-12-122013-12-132013-12-142013-12-152013-12-162013-12-172013-12-182013-12-192013-12-202013-12-212013-12-222013-12-232013-12-242013-12-252013-12-262013-12-272013-12-282013-12-292013-12-302013-12-312014-01-012014-01-022014-01-032014-01-042014-01-052014-01-062014-01-072014-01-082014-01-092014-01-102014-01-112014-01-122014-01-132014-01-142014-01-152014-01-162014-01-172014-01-182014-01-192014-01-202014-01-212014-01-222014-01-232014-01-242014-01-252014-01-262014-01-272014-01-282014-01-292014-01-302014-01-312014-02-012014-02-022014-02-032014-02-042014-02-052014-02-062014-02-072014-02-082014-02-092014-02-102014-02-112014-02-122014-02-132014-02-142014-02-152014-02-162014-02-172014-02-182014-02-192014-02-202014-02-212014-02-222014-02-232014-02-242014-02-252014-02-262014-02-272014-02-282014-03-012014-03-022014-03-032014-03-042014-03-052014-03-062014-03-072014-03-082014-03-092014-03-102014-03-112014-03-122014-03-132014-03-142014-03-152014-03-162014-03-172014-03-182014-03-192014-03-202014-03-212014-03-222014-03-232014-03-242014-03-252014-03-262014-03-272014-03-282014-03-292014-03-302014-03-312014-04-012014-04-022014-04-032014-04-042014-04-052014-04-062014-04-072014-04-082014-04-092014-04-102014-04-112014-04-122014-04-132014-04-142014-04-152014-04-162014-04-172014-04-182014-04-192014-04-202014-04-212014-04-222014-04-232014-04-242014-04-252014-04-262014-04-272014-04-282014-04-292014-04-302014-05-012014-05-022014-05-032014-05-042014-05-052014-05-062014-05-072014-05-082014-05-092014-05-102014-05-112014-05-122014-05-132014-05-142014-05-152014-05-162014-05-172014-05-182014-05-192014-05-202014-05-212014-05-222014-05-232014-05-242014-05-252014-05-262014-05-272014-05-282014-05-292014-05-302014-05-312014-06-012014-06-022014-06-032014-06-042014-06-052014-06-062014-06-072014-06-082014-06-092014-06-102014-06-112014-06-122014-06-132014-06-142014-06-152014-06-162014-06-172014-06-182014-06-192014-06-202014-06-212014-06-222014-06-232014-06-242014-06-252014-06-262014-06-272014-06-282014-06-292014-06-302014-07-012014-07-022014-07-032014-07-042014-07-052014-07-062014-07-072014-07-082014-07-092014-07-102014-07-112014-07-122014-07-132014-07-142014-07-152014-07-162014-07-172014-07-182014-07-192014-07-202014-07-212014-07-222014-07-232014-07-242014-07-252014-07-262014-07-272014-07-282014-07-292014-07-302014-07-312014-08-012014-08-022014-08-032014-08-042014-08-052014-08-062014-08-072014-08-082014-08-092014-08-102014-08-112014-08-122014-08-132014-08-142014-08-152014-08-162014-08-172014-08-182014-08-192014-08-202014-08-212014-08-222014-08-232014-08-242014-08-252014-08-262014-08-272014-08-282014-08-292014-08-302014-08-312014-09-012014-09-022014-09-032014-09-042014-09-052014-09-062014-09-072014-09-082014-09-092014-09-102014-09-112014-09-122014-09-132014-09-142014-09-152014-09-162014-09-172014-09-182014-09-192014-09-202014-09-212014-09-222014-09-232014-09-242014-09-252014-09-262014-09-272014-09-282014-09-292014-09-302014-10-012014-10-022014-10-032014-10-042014-10-052014-10-062014-10-072014-10-082014-10-092014-10-102014-10-112014-10-122014-10-132014-10-142014-10-152014-10-162014-10-172014-10-182014-10-192014-10-202014-10-212014-10-222014-10-232014-10-242014-10-252014-10-262014-10-272014-10-282014-10-292014-10-302014-10-312014-11-012014-11-022014-11-032014-11-042014-11-052014-11-062014-11-072014-11-082014-11-092014-11-102014-11-112014-11-122014-11-132014-11-142014-11-152014-11-162014-11-172014-11-182014-11-192014-11-202014-11-212014-11-222014-11-232014-11-242014-11-252014-11-262014-11-272014-11-282014-11-292014-11-302014-12-012014-12-022014-12-032014-12-042014-12-052014-12-062014-12-072014-12-082014-12-092014-12-102014-12-112014-12-122014-12-132014-12-142014-12-152014-12-162014-12-172014-12-182014-12-192014-12-202014-12-212014-12-222014-12-232014-12-242014-12-252014-12-262014-12-272014-12-282014-12-292014-12-302014-12-312015-01-012015-01-022015-01-032015-01-042015-01-052015-01-062015-01-072015-01-082015-01-092015-01-102015-01-112015-01-122015-01-132015-01-142015-01-152015-01-162015-01-172015-01-182015-01-192015-01-202015-01-212015-01-222015-01-232015-01-242015-01-252015-01-262015-01-272015-01-282015-01-292015-01-302015-01-312015-02-012015-02-022015-02-032015-02-042015-02-052015-02-062015-02-072015-02-082015-02-092015-02-102015-02-112015-02-122015-02-132015-02-142015-02-152015-02-162015-02-172015-02-182015-02-192015-02-202015-02-212015-02-222015-02-232015-02-242015-02-252015-02-262015-02-272015-02-282015-03-012015-03-022015-03-032015-03-042015-03-052015-03-062015-03-072015-03-082015-03-092015-03-102015-03-112015-03-122015-03-132015-03-142015-03-152015-03-162015-03-172015-03-182015-03-192015-03-202015-03-212015-03-222015-03-232015-03-242015-03-252015-03-262015-03-272015-03-282015-03-292015-03-302015-03-312015-04-012015-04-022015-04-032015-04-042015-04-052015-04-062015-04-072015-04-082015-04-092015-04-102015-04-112015-04-122015-04-132015-04-142015-04-152015-04-162015-04-172015-04-182015-04-192015-04-202015-04-212015-04-222015-04-232015-04-242015-04-252015-04-262015-04-272015-04-282015-04-292015-04-302015-05-012015-05-022015-05-032015-05-042015-05-052015-05-062015-05-072015-05-082015-05-092015-05-102015-05-112015-05-122015-05-132015-05-142015-05-152015-05-162015-05-172015-05-182015-05-192015-05-202015-05-212015-05-222015-05-232015-05-242015-05-252015-05-262015-05-272015-05-282015-05-292015-05-302015-05-312015-06-012015-06-022015-06-032015-06-042015-06-052015-06-062015-06-072015-06-082015-06-092015-06-102015-06-112015-06-122015-06-132015-06-142015-06-152015-06-162015-06-172015-06-182015-06-192015-06-202015-06-212015-06-222015-06-232015-06-242015-06-252015-06-262015-06-272015-06-282015-06-292015-06-302015-07-012015-07-022015-07-032015-07-042015-07-052015-07-062015-07-072015-07-082015-07-092015-07-102015-07-112015-07-122015-07-132015-07-142015-07-152015-07-162015-07-172015-07-182015-07-192015-07-202015-07-212015-07-222015-07-232015-07-242015-07-252015-07-262015-07-272015-07-282015-07-292015-07-302015-07-312015-08-012015-08-022015-08-032015-08-042015-08-052015-08-062015-08-072015-08-082015-08-092015-08-102015-08-112015-08-122015-08-132015-08-142015-08-152015-08-162015-08-172015-08-182015-08-192015-08-202015-08-212015-08-222015-08-232015-08-242015-08-252015-08-262015-08-272015-08-282015-08-292015-08-302015-08-312015-09-012015-09-022015-09-032015-09-042015-09-052015-09-062015-09-072015-09-082015-09-092015-09-102015-09-112015-09-122015-09-132015-09-142015-09-152015-09-162015-09-172015-09-182015-09-192015-09-202015-09-212015-09-222015-09-232015-09-242015-09-252015-09-262015-09-272015-09-282015-09-292015-09-302015-10-012015-10-022015-10-032015-10-042015-10-052015-10-062015-10-072015-10-082015-10-092015-10-102015-10-112015-10-122015-10-132015-10-142015-10-152015-10-162015-10-172015-10-182015-10-192015-10-202015-10-212015-10-222015-10-232015-10-242015-10-252015-10-262015-10-272015-10-282015-10-292015-10-302015-10-312015-11-012015-11-022015-11-032015-11-042015-11-052015-11-062015-11-072015-11-082015-11-092015-11-102015-11-112015-11-122015-11-132015-11-142015-11-152015-11-162015-11-172015-11-182015-11-192015-11-202015-11-212015-11-222015-11-232015-11-242015-11-252015-11-262015-11-272015-11-282015-11-292015-11-302015-12-012015-12-022015-12-032015-12-042015-12-052015-12-062015-12-072015-12-082015-12-092015-12-102015-12-112015-12-122015-12-132015-12-142015-12-152015-12-162015-12-172015-12-182015-12-192015-12-202015-12-212015-12-222015-12-232015-12-242015-12-252015-12-262015-12-272015-12-282015-12-292015-12-302015-12-312016-01-012016-01-022016-01-032016-01-042016-01-052016-01-062016-01-072016-01-082016-01-092016-01-102016-01-112016-01-122016-01-132016-01-142016-01-152016-01-162016-01-172016-01-1

In [ ]:
df.isnull().sum()

In [ ]:
filename='/content/drive/MyDrive/dust1.xlsx'
dust=pd.read_excel(filename)
dust.head()

In [ ]:
# 컬럼(변수) 삭제하기
dust=dust.drop(['지역','망','측정소코드'], axis=1)

In [ ]:
dust.head()

In [ ]:
# 컬럼생성하기
dust['city']='서울'

In [ ]:
dust.head()

In [ ]:
dust.rename(columns={'측정소명':'name',
                     '측정일시':'date',
                     '주소':'addr'}, inplace=True)

In [ ]:
dust.columns

In [ ]:
dust.dtypes

In [ ]:
# 숫자 int형을 문자열형으로 변환
dust['date']=dust['date'].astype(str)
dust['date']=dust['date'].str.slice(0,8)
dust.dtypes

In [ ]:
dust['date']=pd.to_datetime(dust['date'])
dust.dtypes

In [ ]:
dust['year']=dust['date'].dt.year
dust['month']=dust['date'].dt.month
dust['day']=dust['date'].dt.day
dust.head()

In [ ]:
filename='/content/drive/MyDrive/nation.xlsx'
s1=pd.read_excel(filename)
s1

In [ ]:
filename='/content/drive/MyDrive/code.xlsx'
s2=pd.read_excel(filename)
s2

In [ ]:
pd.merge(s1,s2,on='국적코드')