In [11]:
import pandas as pd
d=pd.DataFrame({'date':['2019-01-03', '2021-11-22', '2023-01-05'],
                'name':['J','Y','O']})
print(d.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   name    3 non-null      object
dtypes: object(2)
memory usage: 180.0+ bytes
None

In [12]:
d['date'] = pd.to_datetime(d['date'])

In [13]:
d.set_index=d['date']

In [20]:
import numpy as np
x1=pd.DataFrame({'date':['2019-01-03', '2021-11-22','2021-12-01', '2023-01-05'],'x1':[0.1,2.0,np.nan, 1.2]})

In [21]:
x1['date'] = pd.to_datetime(x1['date'])

In [22]:
x1.set_index=x1['date']

In [23]:
x1.isnull().sum()

date    0
x1      1
dtype: int64

In [24]:
x1.fillna(method='pad')

C:\Users\admin\AppData\Local\Temp\ipykernel_10464\1556258204.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  x1.fillna(method='pad')

        date   x1
0 2019-01-03  0.1
1 2021-11-22  2.0
2 2021-12-01  2.0
3 2023-01-05  1.2

In [25]:
x1.dropna()

        date   x1
0 2019-01-03  0.1
1 2021-11-22  2.0
3 2023-01-05  1.2

In [27]:
import numpy as np
x2=pd.DataFrame({'date':['2019-01-03', '2021-11-22','2021-12-01', '2023-01-05'],'x1':[0.1,2.0,np.nan, 1.2]})

In [30]:
x2_intp = x2.interpolate()

C:\Users\admin\AppData\Local\Temp\ipykernel_10464\3051080867.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  x2_intp = x2.interpolate().replace(True)
C:\Users\admin\AppData\Local\Temp\ipykernel_10464\3051080867.py:1: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  x2_intp = x2.interpolate().replace(True)

In [32]:
x2_intp

         date   x1
0  2019-01-03  0.1
1  2021-11-22  2.0
2  2021-12-01  1.6
3  2023-01-05  1.2