In [17]:
import pandas as pd

filename = r'C:\\sqlite\\mysql\\code\\07_1\\file\\medical.csv'
df = pd.read_csv(filename, encoding='cp949')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show
0,2.990000e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,No
1,5.590000e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No
2,4.260000e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,No
3,8.680000e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,No
4,8.840000e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,No

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   SMS_received    110527 non-null  int64
 8   No-show         110527 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 7.6+ MB

In [19]:
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'SMS_received', 'No-show'],
      dtype='object')

In [20]:
df.isna().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
SMS_received      0
No-show           0
dtype: int64

In [21]:
df.isnull().any(axis=1)

0         False
1         False
2         False
3         False
4         False
          ...
110522    False
110523    False
110524    False
110525    False
110526    False
Length: 110527, dtype: bool

In [22]:
df.describe()

          PatientId  AppointmentID            Age   SMS_received
count  1.105270e+05   1.105270e+05  110527.000000  110527.000000
mean   1.474961e+14   5.675305e+06      37.088874       0.321026
std    2.560943e+14   7.129575e+04      23.110205       0.466873
min    3.920000e+04   5.030230e+06      -1.000000       0.000000
25%    4.170000e+12   5.640286e+06      18.000000       0.000000
50%    3.170000e+13   5.680573e+06      37.000000       0.000000
75%    9.440000e+13   5.725524e+06      55.000000       1.000000
max    1.000000e+15   5.790484e+06     115.000000       1.000000

In [23]:
df = df[df['Age'] >= 0]

In [26]:
df.dtypes

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
SMS_received        int64
No-show            object
dtype: object

In [28]:
df['No-show'] = df['No-show'].replace('No',0).replace('Yes',1)

In [33]:
df['No-show'].value_counts()

No-show
0    88207
1    22319
Name: count, dtype: int64

In [38]:
df['ScheduledDay'] =pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay'] =pd.to_datetime(df['AppointmentDay'])

In [59]:
df['waiting_day'] = df['AppointmentDay'].dt.day_of_year-df['ScheduledDay'].dt.day_of_year

In [60]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,SMS_received,No-show,waiting_day
0,2.990000e+13,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,0,0
1,5.590000e+14,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0
2,4.260000e+12,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0
3,8.680000e+11,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0
4,8.840000e+12,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0
...,...,...,...,...,...,...,...,...,...,...
110522,2.570000e+12,5651768,F,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,MARIA ORTIZ,1,0,35
110523,3.600000e+12,5650093,F,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,MARIA ORTIZ,1,0,35
110524,1.560000e+13,5630692,F,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,MARIA ORTIZ,1,0,41
110525,9.210000e+13,5630323,F,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,MARIA ORTIZ,1,0,41
110526,3.780000e+14,5629448,F,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,MARIA ORTIZ,1,0,41