In [1]:
import pandas as pd

# 데이터 불러오기
filepath1 = r'c:/Users/danddi/my_ws/project/mid_project/어린이 교통사고 자료/경기-어린이사고17-19.xlsx'
df1 = pd.read_excel(filepath1)
df1.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2017010100100164,2017년 1월 1일 11시,일요일,경기도 성남시 중원구 성남동,경상사고,0,0,3,0,차대차 - 추돌,...,맑음,교차로 - 교차로안,화물,남,49세,상해없음,승용,남,70세,경상
1,2017010100100222,2017년 1월 1일 14시,일요일,경기도 수원시 팔달구 고등동,경상사고,0,0,4,0,차대차 - 정면충돌,...,맑음,교차로 - 교차로안,승용,남,22세,상해없음,승용,남,35세,경상
2,2017010100100246,2017년 1월 1일 15시,일요일,경기도 파주시 당하동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,맑음,미분류 - 미분류,승용,남,42세,상해없음,보행자,남,2세,부상신고
3,2017010100100341,2017년 1월 1일 19시,일요일,경기도 안산시 단원구 와동,경상사고,0,0,2,0,차대차 - 정면충돌,...,흐림,교차로 - 교차로안,승용,남,32세,상해없음,승용,여,40세,경상
4,2017010200100213,2017년 1월 2일 12시,월요일,경기도 고양시 일산동구 풍동,경상사고,0,0,1,2,차대차 - 측면충돌,...,맑음,교차로 - 교차로안,승용,여,40세,상해없음,승용,여,41세,경상

In [2]:
# 데이터 불러오기
filepath2 = r'c:/Users/danddi/my_ws/project/mid_project/어린이 교통사고 자료/경기-어린이보호구역사고17-19.xlsx'
df2 = pd.read_excel(filepath2)
df2.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2017010600100510,2017년 1월 6일 20시,금요일,경기도 의왕시 내손동,경상사고,0,0,1,0,차대차 - 측면충돌,...,맑음,단일로 - 기타,자전거,남,14세,상해없음,이륜,남,17세,경상
1,2017010700100197,2017년 1월 7일 09시,토요일,경기도 안산시 단원구 원곡동,경상사고,0,0,1,0,차량단독 - 기타,...,맑음,단일로 - 기타,승합,남,42세,상해없음,NaN,NaN,NaN,NaN
2,2017011300100104,2017년 1월 13일 07시,금요일,경기도 용인시 수지구 죽전동,중상사고,0,1,0,0,차대사람 - 횡단중,...,흐림,교차로 - 교차로안,승용,남,52세,상해없음,보행자,여,48세,중상
3,2017011400100175,2017년 1월 14일 10시,토요일,경기도 부천시 소사본동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,22세,상해없음,보행자,남,42세,경상
4,2017011700100589,2017년 1월 17일 23시,화요일,경기도 고양시 일산서구 주엽동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,여,48세,상해없음,보행자,여,26세,경상

In [3]:
df1.shape

(8504, 22)

In [4]:
df2.shape

(721, 22)

In [5]:
# '어린이 보호구역'확인을 위해 중복행 찾기
df3 = pd.concat([df1,df2])
df3 = df3.reset_index(drop=True) # 인덱스 초기화

df3[df3.duplicated()].head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
8509,2017012400100380,2017년 1월 24일 14시,화요일,경기도 고양시 덕양구 성사동,경상사고,0,0,1,0,차대차 - 기타,...,맑음,교차로 - 교차로안,승용,남,61세,상해없음,자전거,남,8세,경상
8510,2017012400100452,2017년 1월 24일 16시,화요일,경기도 성남시 분당구 수내동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,흐림,단일로 - 기타,승용,여,29세,상해없음,보행자,남,9세,중상
8513,2017020200100205,2017년 2월 2일 13시,목요일,경기도 성남시 분당구 서현동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,여,48세,상해없음,보행자,남,7세,중상
8522,2017022000100418,2017년 2월 20일 19시,월요일,경기도 군포시 당동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,46세,상해없음,보행자,여,9세,중상
8525,2017030300100138,2017년 3월 3일 08시,금요일,경기도 성남시 분당구 판교동,부상신고사고,0,0,0,1,차대차 - 기타,...,맑음,교차로 - 교차로안,자전거,남,12세,부상신고,승용,여,46세,상해없음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9205,2019121200100492,2019년 12월 12일 17시,목요일,경기도 의정부시 가능동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,맑음,단일로 - 기타,승용,남,38세,상해없음,보행자,남,4세,부상신고
9208,2019121300100546,2019년 12월 13일 18시,금요일,경기도 부천시 원종동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,교차로 - 교차로안,화물,남,58세,상해없음,자전거,남,9세,경상
9217,2019122400100436,2019년 12월 24일 16시,화요일,경기도 군포시 산본동,중상사고,0,1,0,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,47세,상해없음,보행자,여,10세,중상
9222,2019123000100277,2019년 12월 30일 14시,월요일,경기도 성남시 분당구 백현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로안,승용,여,39세,상해없음,보행자,남,5세,경상
9223,2019123000100343,2019년 12월 30일 16시,월요일,경기도 안양시 동안구 호계동,경상사고,0,0,1,0,차대사람 - 차도통행중,...,맑음,단일로 - 기타,승용,남,69세,상해없음,보행자,남,11세,경상

In [7]:
# '어린이 보호구역'열 생성
df3['어린이보호구역'] = 0

In [8]:
# 중복값으로 사용할 '사고번호'열의 값들 리스트에 담기
dupli_list = df3[df3.duplicated()]['사고번호'].tolist()
dupli_list

[2017012400100380,
 2017012400100452,
 2017020200100205,
 2017022000100418,
 2017030300100138,
 2017030600100293,
 2017031300100312,
 2017031300100317,
 2017031300100458,
 2017031400100373,
 2017031600100363,
 2017032000100408,
 2017032300100297,
 2017033000100406,
 2017040400100098,
 2017040500100299,
 2017040700100413,
 2017041000100118,
 2017041900100500,
 2017042000100480,
 2017050800100109,
 2017050800100548,
 2017051100100132,
 2017051100100161,
 2017051600100443,
 2017051600100444,
 2017051900100639,
 2017052000100257,
 2017052400100481,
 2017052600100484,
 2017052600100524,
 2017052600100621,
 2017060100100509,
 2017060200100454,
 2017060300100638,
 2017060400100181,
 2017060500100302,
 2017060500100377,
 2017060500100379,
 2017061000100292,
 2017061400100457,
 2017061900100431,
 2017062600100150,
 2017062600100316,
 2017062900100115,
 2017071600100316,
 2017071700100426,
 2017071900100403,
 2017072400100116,
 2017072500100385,
 2017072600100395,
 2017072900100331,
 2017073100100186,
 2017080300100634,
 2017080700100162,
 2017080800100268,
 2017081000100403,
 2017081400100403,
 2017081900100299,
 2017082300100329,
 2017082700100210,
 2017082900100482,
 2017083000100395,
 2017090700100450,
 2017090800100332,
 2017091800100301,
 2017092100100408,
 2017092200100489,
 2017092600100384,
 2017092900100562,
 2017100800100243,
 2017100800100269,
 2017101200100355,
 2017101200100401,
 2017101800100269,
 2017101900100297,
 2017102400100374,
 2017102400100446,
 2017102600100299,
 2017110700100458,
 2017110800100447,
 2017111000100220,
 2017111000100364,
 2017111500100136,
 2017111600100400,
 2017111600100460,
 2017112300100343,
 2017112400100502,
 2017112700100131,
 2017112900100124,
 2017113000100345,
 2017120400100352,
 2017120500100149,
 2017120500100173,
 2017120600100622,
 2017121500100148,
 2018011400100374,
 2018011500100554,
 2018012600100485,
 2018020500100117,
 2018020600100085,
 2018021000100415,
 2018021100100325,
 2018021900100344,
 2018022300100319,
 2018022800100261,
 2018031200100369,
 2018031300100205,
 2018031300100327,
 2018031300100366,
 2018031500100158,
 2018031500100421,
 2018031600100393,
 2018031900100261,
 2018032100100417,
 2018032200100395,
 2018033000100371,
 2018033000100463,
 2018040400100381,
 2018041200100386,
 2018041900100116,
 2018042000100328,
 2018042100100261,
 2018042300100350,
 2018042300100412,
 2018042400100343,
 2018042400100345,
 2018042500100102,
 2018042600100324,
 2018042600100461,
 2018042600100466,
 2018050100100130,
 2018050200100330,
 2018050200100520,
 2018051400100291,
 2018051500100467,
 2018051600100249,
 2018052400100412,
 2018052900100360,
 2018060100100336,
 2018060400100335,
 2018060400100498,
 2018060500100498,
 2018060700100440,
 2018061100100485,
 2018061200100427,
 2018061500100287,
 2018061800100398,
 2018061900100327,
 2018062800100318,
 2018062900100296,
 2018070500100466,
 2018071200100406,
 2018071400100310,
 2018071900100378,
 2018072000100403,
 2018072300100382,
 2018072300100423,
 2018072400100138,
 2018072400100510,
 2018073000100379,
 2018080800100140,
 2018081300100251,
 2018081400100470,
 2018082100100318,
 2018082200100363,
 2018082200100519,
 2018090400100279,
 2018090500100366,
 2018090700100433,
 2018090800100282,
 2018091000100497,
 2018091200100512,
 2018091200100690,
 2018091300100535,
 2018091800100370,
 2018091800100428,
 2018091900100118,
 2018092100100430,
 2018092100100454,
 2018100100100310,
 2018100800100311,
 2018101000100204,
 2018101100100103,
 2018101100100401,
 2018101700100318,
 2018102100100320,
 2018102200100341,
 2018102600100543,
 2018102900100484,
 2018110100100348,
 2018110200100504,
 2018110700100386,
 2018111000100221,
 2018111100100200,
 2018111200100407,
 2018111400100092,
 2018111600100117,
 2018112800100410,
 2018112900100079,
 2018120600100341,
 2018121500100588,
 2018121800100143,
 2018121800100390,
 2018121900100563,
 2018122000100326,
 2018122100100136,
 2018122800100377,
 2019010200100165,
 2019010200100431,
 2019010900100265,
 2019011100100170,
 2019011100100339,
 2019011600100320,
 2019011800100410,
 2019013000100236,
 2019020700100398,
 2019021300100395,
 2019021400100450,
 2019021600100321,
 2019022100100314,
 2019030400100365,
 2019030800100379,
 2019032200100399,
 2019040200100519,
 2019040300100435,
 2019041100100323,
 2019041600100388,
 2019041600100390,
 2019042300100405,
 2019042500100473,
 2019042800100362,
 2019050100100191,
 2019050200100315,
 2019050200100349,
 2019050200100480,
 2019050800100356,
 2019051100100401,
 2019051100100407,
 2019051200100359,
 2019051400100057,
 2019051500100287,
 2019051800100394,
 2019052200100486,
 2019052500100364,
 2019052800100578,
 2019052900100435,
 2019052900100545,
 2019052900100659,
 2019053000100196,
 2019053100100368,
 2019060100100217,
 2019060300100139,
 2019060300100528,
 2019060400100311,
 2019060500100669,
 2019060800100540,
 2019061400100375,
 2019061500100575,
 2019062000100190,
 2019062100100126,
 2019062100100591,
 2019062500100496,
 2019062700100561,
 2019070200100136,
 2019070200100556,
 2019070400100377,
 2019070400100392,
 2019071100100176,
 2019071600100598,
 2019072400100423,
 2019080200100552,
 2019080300100391,
 2019080600100404,
 2019080800100400,
 2019081300100430,
 2019081700100590,
 2019082100100552,
 2019082200100334,
 2019082300100455,
 2019082600100464,
 2019082700100465,
 2019082700100506,
 2019083000100523,
 2019090600100618,
 2019090900100519,
 2019090900100563,
 2019091100100470,
 2019091100100589,
 2019092000100148,
 2019092300100307,
 2019100400100282,
 2019100400100381,
 2019100700100152,
 2019101400100432,
 2019101500100137,
 2019101700100587,
 2019101800100507,
 2019102400100178,
 2019102400100381,
 2019102400100480,
 2019102500100410,
 2019102900100501,
 2019103000100149,
 2019103000100151,
 2019103000100531,
 2019110100100449,
 2019110300100152,
 2019110400100544,
 2019110400100612,
 2019110600100160,
 2019110600100547,
 2019110800100410,
 2019110900100651,
 2019111300100468,
 2019111400100748,
 2019111500100212,
 2019111500100428,
 2019111500100790,
 2019111900100440,
 2019112100100617,
 2019112500100409,
 2019112900100307,
 2019120100100314,
 2019120200100137,
 2019120800100397,
 2019121200100492,
 2019121300100546,
 2019122400100436,
 2019123000100277,
 2019123000100343]

In [9]:
# 사고번호에 해당하는 index를 리스트 만들기
yes_list=df3[df3['사고번호'].isin(dupli_list)].index.tolist()
yes_list

[131,
 133,
 184,
 277,
 331,
 355,
 389,
 390,
 393,
 396,
 408,
 436,
 452,
 501,
 541,
 545,
 557,
 579,
 649,
 660,
 803,
 811,
 828,
 829,
 870,
 871,
 900,
 905,
 950,
 963,
 965,
 966,
 1025,
 1034,
 1050,
 1051,
 1071,
 1074,
 1075,
 1115,
 1146,
 1199,
 1268,
 1272,
 1291,
 1416,
 1419,
 1432,
 1466,
 1474,
 1480,
 1503,
 1523,
 1558,
 1589,
 1603,
 1621,
 1645,
 1684,
 1727,
 1760,
 1781,
 1789,
 1859,
 1864,
 1953,
 1981,
 1998,
 2029,
 2050,
 2116,
 2117,
 2136,
 2138,
 2187,
 2195,
 2244,
 2247,
 2258,
 2378,
 2382,
 2395,
 2397,
 2432,
 2439,
 2441,
 2492,
 2497,
 2523,
 2532,
 2539,
 2565,
 2571,
 2573,
 2581,
 2624,
 2828,
 2835,
 2900,
 2982,
 2987,
 3018,
 3026,
 3081,
 3100,
 3119,
 3178,
 3182,
 3184,
 3185,
 3194,
 3199,
 3210,
 3243,
 3257,
 3260,
 3305,
 3310,
 3337,
 3403,
 3454,
 3467,
 3479,
 3500,
 3501,
 3507,
 3508,
 3513,
 3521,
 3525,
 3527,
 3570,
 3577,
 3581,
 3685,
 3702,
 3708,
 3782,
 3835,
 3861,
 3886,
 3891,
 3897,
 3917,
 3961,
 3971,
 3997,
 4016,
 4021,
 4096,
 4105,
 4152,
 4207,
 4216,
 4275,
 4282,
 4315,
 4316,
 4320,
 4331,
 4379,
 4472,
 4518,
 4536,
 4595,
 4602,
 4603,
 4691,
 4694,
 4711,
 4717,
 4744,
 4767,
 4771,
 4782,
 4815,
 4817,
 4823,
 4843,
 4845,
 4948,
 5001,
 5015,
 5021,
 5023,
 5066,
 5104,
 5114,
 5142,
 5171,
 5183,
 5195,
 5243,
 5263,
 5276,
 5285,
 5291,
 5306,
 5384,
 5387,
 5434,
 5493,
 5506,
 5510,
 5521,
 5525,
 5529,
 5567,
 5588,
 5589,
 5625,
 5630,
 5635,
 5669,
 5684,
 5742,
 5796,
 5819,
 5827,
 5841,
 5876,
 5949,
 5968,
 6072,
 6144,
 6149,
 6200,
 6240,
 6241,
 6304,
 6323,
 6356,
 6367,
 6379,
 6380,
 6387,
 6452,
 6484,
 6486,
 6498,
 6505,
 6511,
 6536,
 6579,
 6600,
 6623,
 6633,
 6636,
 6637,
 6640,
 6645,
 6652,
 6671,
 6677,
 6679,
 6691,
 6720,
 6770,
 6793,
 6821,
 6834,
 6844,
 6894,
 6914,
 6958,
 6966,
 6984,
 6985,
 7037,
 7081,
 7143,
 7227,
 7235,
 7259,
 7271,
 7311,
 7346,
 7371,
 7375,
 7388,
 7424,
 7432,
 7435,
 7459,
 7527,
 7548,
 7551,
 7562,
 7565,
 7642,
 7668,
 7772,
 7774,
 7800,
 7875,
 7884,
 7904,
 7911,
 7954,
 7956,
 7957,
 7964,
 8006,
 8011,
 8012,
 8021,
 8033,
 8049,
 8064,
 8065,
 8076,
 8083,
 8092,
 8115,
 8153,
 8168,
 8172,
 8174,
 8185,
 8214,
 8229,
 8264,
 8292,
 8318,
 8322,
 8367,
 8380,
 8387,
 8451,
 8496,
 8498,
 8509,
 8510,
 8513,
 8522,
 8525,
 8526,
 8527,
 8528,
 8529,
 8531,
 8532,
 8533,
 8534,
 8538,
 8539,
 8540,
 8541,
 8542,
 8545,
 8546,
 8550,
 8551,
 8552,
 8553,
 8556,
 8557,
 8558,
 8559,
 8562,
 8564,
 8565,
 8566,
 8568,
 8569,
 8570,
 8571,
 8572,
 8573,
 8574,
 8576,
 8577,
 8578,
 8579,
 8580,
 8582,
 8585,
 8586,
 8587,
 8588,
 8590,
 8592,
 8593,
 8594,
 8595,
 8596,
 8597,
 8598,
 8600,
 8602,
 8605,
 8607,
 8609,
 8610,
 8614,
 8615,
 8619,
 8622,
 8623,
 8624,
 8627,
 8631,
 8632,
 8635,
 8636,
 8640,
 8644,
 8645,
 8646,
 8648,
 8654,
 8655,
 8659,
 8660,
 8661,
 8662,
 8663,
 8664,
 8665,
 8668,
 8670,
 8672,
 8675,
 8676,
 8677,
 8678,
 8684,
 8696,
 8697,
 8700,
 8703,
 8705,
 8710,
 8711,
 8713,
 8715,
 8716,
 8724,
 8725,
 8726,
 8727,
 8729,
 8730,
 8731,
 8733,
 8734,
 8736,
 8743,
 8745,
 8748,
 8751,
 8752,
 8754,
 8755,
 8757,
 8758,
 8759,
 8760,
 8761,
 8762,
 8763,
 8764,
 8765,
 8766,
 8767,
 8772,
 8773,
 8774,
 8778,
 8779,
 8780,
 8781,
 8782,
 8783,
 8785,
 8787,
 8790,
 8792,
 8794,
 8795,
 8801,
 8802,
 8808,
 8813,
 8815,
 8818,
 8819,
 8820,
 8821,
 8822,
 8824,
 8826,
 8830,
 8832,
 8834,
 8838,
 8839,
 8840,
 8842,
 8843,
 8844,
 8846,
 8847,
 8850,
 8851,
 8852,
 8854,
 8856,
 8857,
 8859,
 8860,
 8866,
 8872,
 8873,
 8874,
 8875,
 8878,
 8880,
 8881,
 8887,
 8889,
 8891,
 8892,
 8894,
 8897,
 8898,
 8900,
 8902,
 8904,
 8909,
 8910,
 8913,
 8917,
 8919,
 8920,
 8922,
 8923,
 8924,
 8927,
 8929,
 8930,
 8935,
 8936,
 8937,
 8939,
 8942,
 8946,
 8947,
 8950,
 8951,
 8953,
 8955,
 8959,
 8963,
 8972,
 8978,
 8979,
 8984,
 8989,
 8990,
 8995,
 8997,
 8998,
 9002,
 9003,
 9004,
 9005,
 9007,
 9010,
 9011,
 9013,
 9014,
 9015,
 9018,
 9019,
 9021,
 9022,
 9023,
 9024,
 9025,
 9026,
 9028,
 9029,
 9030,
 9031,
 9032,
 9034,
 9035,
 9041,
 9044,
 9045,
 9048,
 9049,
 9051,
 9052,
 9056,
 9057,
 9059,
 9060,
 9063,
 9066,
 9074,
 9077,
 9079,
 9082,
 9084,
 9085,
 9090,
 9094,
 9095,
 9096,
 9099,
 9102,
 9103,
 9104,
 9111,
 9112,
 9113,
 9114,
 9115,
 9124,
 9129,
 9134,
 9135,
 9137,
 9140,
 9142,
 9144,
 9147,
 9148,
 9149,
 9150,
 9152,
 9155,
 9156,
 9157,
 9158,
 9160,
 9161,
 9164,
 9165,
 9166,
 9167,
 9169,
 9170,
 9172,
 9176,
 9177,
 9178,
 9179,
 9181,
 9187,
 9191,
 9195,
 9197,
 9198,
 9202,
 9205,
 9208,
 9217,
 9222,
 9223]

In [10]:
# 해당하는 인덱스, '어린이보호구역'열 값을 1로 변경
df3.loc[yes_list,'어린이보호구역']=1

In [11]:
# '어린이 보호구역'열 값 제대로 들어갔는지 확인
df3[df3['사고번호']==2017012400100380]

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,어린이보호구역
131,2017012400100380,2017년 1월 24일 14시,화요일,경기도 고양시 덕양구 성사동,경상사고,0,0,1,0,차대차 - 기타,...,교차로 - 교차로안,승용,남,61세,상해없음,자전거,남,8세,경상,1
8509,2017012400100380,2017년 1월 24일 14시,화요일,경기도 고양시 덕양구 성사동,경상사고,0,0,1,0,차대차 - 기타,...,교차로 - 교차로안,승용,남,61세,상해없음,자전거,남,8세,경상,1

In [12]:
# 중복처리를 위해 합친 데이터 다시 떼어내기
df4 = df3.loc[0:8503,:]

In [13]:
df4.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,어린이보호구역
0,2017010100100164,2017년 1월 1일 11시,일요일,경기도 성남시 중원구 성남동,경상사고,0,0,3,0,차대차 - 추돌,...,교차로 - 교차로안,화물,남,49세,상해없음,승용,남,70세,경상,0
1,2017010100100222,2017년 1월 1일 14시,일요일,경기도 수원시 팔달구 고등동,경상사고,0,0,4,0,차대차 - 정면충돌,...,교차로 - 교차로안,승용,남,22세,상해없음,승용,남,35세,경상,0
2,2017010100100246,2017년 1월 1일 15시,일요일,경기도 파주시 당하동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,미분류 - 미분류,승용,남,42세,상해없음,보행자,남,2세,부상신고,0
3,2017010100100341,2017년 1월 1일 19시,일요일,경기도 안산시 단원구 와동,경상사고,0,0,2,0,차대차 - 정면충돌,...,교차로 - 교차로안,승용,남,32세,상해없음,승용,여,40세,경상,0
4,2017010200100213,2017년 1월 2일 12시,월요일,경기도 고양시 일산동구 풍동,경상사고,0,0,1,2,차대차 - 측면충돌,...,교차로 - 교차로안,승용,여,40세,상해없음,승용,여,41세,경상,0

In [16]:
df4.isnull().sum()

사고번호           0
사고일시           0
요일             0
시군구            0
사고내용           0
사망자수           0
중상자수           0
경상자수           0
부상신고자수         0
사고유형           0
법규위반           0
노면상태           0
기상상태           0
도로형태           0
가해운전자 차종       0
가해운전자 성별       0
가해운전자 연령       0
가해운전자 상해정도     0
피해운전자 차종      95
피해운전자 성별      95
피해운전자 연령      95
피해운전자 상해정도    95
어린이보호구역        0
dtype: int64

In [19]:
# 결측치 있는 행 삭제
df4.dropna(subset=['피해운전자 차종'], axis=0, inplace=True)

C:\Users\danddi\AppData\Local\Temp\ipykernel_2200\1702625720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.dropna(subset=['피해운전자 차종'], axis=0, inplace=True)

In [24]:
# 피해자 연령 고유값 확인
df4['피해운전자 연령'].unique()

array(['70세', '35세', '2세', '40세', '41세', '45세', '7세', '34세', '52세', '56세',
       '49세', '32세', '36세', '33세', '10세', '12세', '9세', '23세', '25세',
       '50세', '58세', '6세', '54세', '47세', '11세', '38세', '75세', '37세',
       '31세', '8세', '61세', '39세', '44세', '59세', '27세', '63세', '46세',
       '43세', '66세', '57세', '55세', '5세', '48세', '28세', '42세', '60세',
       '24세', '29세', '4세', '65세', '30세', '3세', '67세', '62세', '90세 이상',
       '72세', '26세', '53세', '1세', '미분류', '20세', '17세', '85세', '68세',
       '51세', '64세', '73세', '69세', '13세', '14세', '22세', '15세', '71세',
       '18세', '78세', '79세', '21세', '80세', '19세', '76세', '74세', '16세',
       '81세', '77세'], dtype=object)

In [25]:
# '미분류'인 값 어떤 정보인지 확인.
df4[df4['피해운전자 연령']=='미분류']

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,어린이보호구역
435,2017032000100380,2017년 3월 20일 18시,월요일,경기도 화성시 청계동,경상사고,0,0,1,0,차대차 - 기타,...,기타 - 기타,승용,남,58세,상해없음,자전거,여,미분류,경상,0
517,2017040100100287,2017년 4월 1일 14시,토요일,경기도 김포시 대곶면,경상사고,0,0,1,0,차대차 - 측면충돌,...,단일로 - 기타,자전거,남,11세,경상,기타불명,기타불명,미분류,기타불명,0
835,2017051100100466,2017년 5월 11일 19시,목요일,경기도 안산시 단원구 원곡동,경상사고,0,0,1,0,차대사람 - 기타,...,기타 - 기타,승용,여,21세,상해없음,보행자,남,미분류,경상,0
872,2017051600100453,2017년 5월 16일 18시,화요일,경기도 안양시 동안구 호계동,경상사고,0,0,1,0,차대차 - 측면충돌,...,교차로 - 교차로안,자전거,남,8세,경상,기타불명,기타불명,미분류,기타불명,0
1256,2017062400100578,2017년 6월 24일 22시,토요일,경기도 구리시 수택동,부상신고사고,0,0,0,1,차대차 - 기타,...,단일로 - 기타,자전거,남,12세,부상신고,기타불명,기타불명,미분류,기타불명,0
1385,2017071000100557,2017년 7월 10일 22시,월요일,경기도 성남시 분당구 운중동,사망사고,2,1,0,0,차량단독 - 전도전복,...,단일로 - 기타,승용,남,28세,중상,미분류,미분류,미분류,미분류,0
1403,2017071400100356,2017년 7월 14일 15시,금요일,경기도 의정부시 낙양동,부상신고사고,0,0,0,2,차량단독 - 전도전복,...,교차로 - 교차로안,승용,남,24세,상해없음,미분류,미분류,미분류,미분류,0
1542,2017080200100241,2017년 8월 2일 13시,수요일,경기도 용인시 수지구 신봉동,경상사고,0,0,2,0,차대차 - 정면충돌,...,단일로 - 기타,승용,여,40세,상해없음,승용,여,미분류,상해없음,0
1697,2017082000100151,2017년 8월 20일 07시,일요일,경기도 하남시 교산동,중상사고,0,2,13,0,차량단독 - 전도전복,...,단일로 - 기타,승합,남,54세,상해없음,미분류,미분류,미분류,미분류,0
2207,2017102000100519,2017년 10월 20일 17시,금요일,경기도 부천시 소사본동,중상사고,0,1,0,0,차대사람 - 기타,...,단일로 - 기타,화물,남,56세,상해없음,보행자,여,미분류,중상,0
2519,2017112500100699,2017년 11월 25일 23시,토요일,경기도 포천시 신읍동,중상사고,0,1,0,0,차대사람 - 횡단중,...,단일로 - 기타,승용,남,53세,상해없음,보행자,남,미분류,중상,0
3238,2018031800100282,2018년 3월 18일 17시,일요일,경기도 양평군 양동면,경상사고,0,0,2,0,차대차 - 후진중충돌,...,단일로 - 기타,화물,남,47세,상해없음,승용,기타불명,미분류,기타불명,0
4013,2018061700100374,2018년 6월 17일 19시,일요일,경기도 안양시 동안구 관양동,중상사고,0,1,0,0,차량단독 - 전도전복 - 전도,...,단일로 - 기타,자전거,여,11세,중상,미분류,미분류,미분류,미분류,0
4364,2018072800100330,2018년 7월 28일 14시,토요일,경기도 부천시 상동,중상사고,0,1,0,3,차대차 - 측면충돌,...,단일로 - 기타,승용,남,34세,부상신고,승용,여,미분류,중상,0
4505,2018081100100479,2018년 8월 11일 19시,토요일,경기도 시흥시 정왕동,경상사고,0,0,5,0,차량단독 - 전도전복 - 전도,...,단일로 - 기타,원동기,남,58세,상해없음,미분류,미분류,미분류,미분류,0
5271,2018111000100634,2018년 11월 10일 21시,토요일,경기도 수원시 팔달구 인계동,경상사고,0,0,1,1,차대차 - 측면충돌,...,교차로 - 교차로부근,승용,남,33세,상해없음,승용,기타불명,미분류,기타불명,0
5806,2019020900100386,2019년 2월 9일 20시,토요일,경기도 수원시 영통구 매탄동,경상사고,0,0,4,1,차대차 - 추돌,...,단일로 - 기타,승용,남,52세,경상,기타불명,기타불명,미분류,기타불명,0
7148,2019072500100294,2019년 7월 25일 13시,목요일,경기도 안산시 단원구 원곡동,부상신고사고,0,0,0,1,차대차 - 측면충돌,...,교차로 - 교차로부근,자전거,남,9세,부상신고,기타불명,기타불명,미분류,기타불명,0
7482,2019090100100288,2019년 9월 1일 15시,일요일,경기도 안성시 원곡면,중상사고,0,5,1,0,차대차 - 기타,...,단일로 - 기타,승용,남,30세,상해없음,승용,기타불명,미분류,기타불명,0

In [26]:
# '미분류' 행 삭제
drop_list = df4[df4['피해운전자 연령']=='미분류'].index.tolist()
df4.drop(index=drop_list,inplace=True)

C:\Users\danddi\AppData\Local\Temp\ipykernel_2200\2671594454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(index=drop_list,inplace=True)

In [27]:
# 피해자 연령 숫자값으로 변경
df4['피해운전자 연령'] = df4['피해운전자 연령'].str.replace('세 이상','')
df4['피해운전자 연령'] = df4['피해운전자 연령'].str.replace('세','')
df4['피해운전자 연령'] = df4['피해운전자 연령'].astype(int)

C:\Users\danddi\AppData\Local\Temp\ipykernel_2200\1809100675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['피해운전자 연령'] = df4['피해운전자 연령'].str.replace('세 이상','')
C:\Users\danddi\AppData\Local\Temp\ipykernel_2200\1809100675.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['피해운전자 연령'] = df4['피해운전자 연령'].str.replace('세','')
C:\Users\danddi\AppData\Local\Temp\ipykernel_2200\1809100675.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['피해운전자 연령'] = df4['피해운전자 연령'].astype(int)

In [29]:
# 어린이 피해자만 새로운 데이터프레임에 지정
df5 = df4[df4['피해운전자 연령'] <= 12 ]
df5

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,어린이보호구역
2,2017010100100246,2017년 1월 1일 15시,일요일,경기도 파주시 당하동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,미분류 - 미분류,승용,남,42세,상해없음,보행자,남,2,부상신고,0
6,2017010200100224,2017년 1월 2일 13시,월요일,경기도 과천시 별양동,경상사고,0,0,1,0,차대사람 - 기타,...,단일로 - 기타,승용,남,47세,상해없음,보행자,남,7,경상,0
17,2017010300100311,2017년 1월 3일 14시,화요일,경기도 화성시 송산면,경상사고,0,0,1,0,차대사람 - 차도통행중,...,단일로 - 기타,화물,남,69세,상해없음,보행자,여,10,경상,0
18,2017010400100232,2017년 1월 4일 12시,수요일,경기도 용인시 처인구 양지면,경상사고,0,0,1,0,차대사람 - 횡단중,...,단일로 - 기타,승용,남,44세,상해없음,보행자,남,12,경상,0
19,2017010400100308,2017년 1월 4일 15시,수요일,경기도 의왕시 삼동,중상사고,0,1,0,0,차대사람 - 기타,...,단일로 - 기타,승용,여,47세,상해없음,보행자,남,9,중상,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,2019122900100368,2019년 12월 29일 20시,일요일,경기도 성남시 분당구 야탑동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,단일로 - 기타,승용,남,63세,상해없음,보행자,남,10,부상신고,0
8496,2019123000100277,2019년 12월 30일 14시,월요일,경기도 성남시 분당구 백현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로안,승용,여,39세,상해없음,보행자,남,5,경상,1
8498,2019123000100343,2019년 12월 30일 16시,월요일,경기도 안양시 동안구 호계동,경상사고,0,0,1,0,차대사람 - 차도통행중,...,단일로 - 기타,승용,남,69세,상해없음,보행자,남,11,경상,1
8500,2019123000100566,2019년 12월 30일 21시,월요일,경기도 부천시 중동,경상사고,0,0,2,0,차대사람 - 기타,...,단일로 - 기타,이륜,남,23세,경상,보행자,남,8,경상,0
8501,2019123100100118,2019년 12월 31일 08시,화요일,경기도 광명시 하안동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,교차로 - 교차로횡단보도내,승용,남,49세,상해없음,보행자,여,7,부상신고,0

In [31]:
# 어린이보호구역 내에서 발생한 건수 확인
df5[df5['어린이보호구역']==1]

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,어린이보호구역
131,2017012400100380,2017년 1월 24일 14시,화요일,경기도 고양시 덕양구 성사동,경상사고,0,0,1,0,차대차 - 기타,...,교차로 - 교차로안,승용,남,61세,상해없음,자전거,남,8,경상,1
133,2017012400100452,2017년 1월 24일 16시,화요일,경기도 성남시 분당구 수내동,중상사고,0,1,0,0,차대사람 - 차도통행중,...,단일로 - 기타,승용,여,29세,상해없음,보행자,남,9,중상,1
184,2017020200100205,2017년 2월 2일 13시,목요일,경기도 성남시 분당구 서현동,중상사고,0,1,0,0,차대사람 - 횡단중,...,단일로 - 기타,승용,여,48세,상해없음,보행자,남,7,중상,1
277,2017022000100418,2017년 2월 20일 19시,월요일,경기도 군포시 당동,중상사고,0,1,0,0,차대사람 - 횡단중,...,교차로 - 교차로횡단보도내,승용,남,46세,상해없음,보행자,여,9,중상,1
355,2017030600100293,2017년 3월 6일 14시,월요일,경기도 평택시 이충동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로안,승용,남,62세,상해없음,보행자,여,8,경상,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8380,2019121200100492,2019년 12월 12일 17시,목요일,경기도 의정부시 가능동,부상신고사고,0,0,0,1,차대사람 - 횡단중,...,단일로 - 기타,승용,남,38세,상해없음,보행자,남,4,부상신고,1
8387,2019121300100546,2019년 12월 13일 18시,금요일,경기도 부천시 원종동,경상사고,0,0,2,0,차대차 - 기타,...,교차로 - 교차로안,화물,남,58세,상해없음,자전거,남,9,경상,1
8451,2019122400100436,2019년 12월 24일 16시,화요일,경기도 군포시 산본동,중상사고,0,1,0,0,차대사람 - 횡단중,...,교차로 - 교차로횡단보도내,승용,남,47세,상해없음,보행자,여,10,중상,1
8496,2019123000100277,2019년 12월 30일 14시,월요일,경기도 성남시 분당구 백현동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로안,승용,여,39세,상해없음,보행자,남,5,경상,1
8498,2019123000100343,2019년 12월 30일 16시,월요일,경기도 안양시 동안구 호계동,경상사고,0,0,1,0,차대사람 - 차도통행중,...,단일로 - 기타,승용,남,69세,상해없음,보행자,남,11,경상,1

In [32]:
df5.describe()

,사고번호,사망자수,중상자수,경상자수,부상신고자수,피해운전자 연령,어린이보호구역
count,3.272000e+03,3272.000000,3272.000000,3272.000000,3272.000000,3272.000000,3272.00000
mean,2.018065e+15,0.006418,0.279034,0.631112,0.128973,8.377751,0.09291
std,8.224017e+11,0.079868,0.456698,0.530844,0.337946,2.522967,0.29035
min,2.017010e+15,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
25%,2.017092e+15,0.000000,0.000000,0.000000,0.000000,7.000000,0.00000
50%,2.018062e+15,0.000000,0.000000,1.000000,0.000000,9.000000,0.00000
75%,2.019051e+15,0.000000,1.000000,1.000000,0.000000,10.000000,0.00000
max,2.019123e+15,1.000000,3.000000,3.000000,2.000000,12.000000,1.00000