In [37]:
# nfl.csv 파일을 가져오려면 어떻게 해야할까요?
import pandas as pd
filename = 'C:\\sqlite\\mysql\\code\\수업\\nfl\\nfl.csv'
df = pd.read_csv(filename)
df.head()

             Name                  Team Position   Birthday   Salary
0    Tremon Smith   Philadelphia Eagles       RB  7/20/1996   570000
1  Shawn Williams    Cincinnati Bengals       SS  5/13/1991  3500000
2     Adam Butler  New England Patriots       DT  4/12/1994   645000
3     Derek Wolfe        Denver Broncos       DE  2/24/1990  8000000
4       Jake Ryan  Jacksonville Jaguars      OLB  2/27/1992  1000000

In [38]:
 #  Birthday 열의 값을 날짜/시간으로 변환하는 효과적인 방법은 무엇일까요?
df['Birthday'] = pd.to_datetime(df['Birthday'])

In [39]:
# 선수의 이름을 DataFrame의 인덱스로 지정하는 두 가지 방법은 무엇인가요?
df = df.set_index('Name')

In [40]:
# 이 데이터셋에서 팀 당 선수가 몇 명인지 계산하는 방법은 무엇인가요?
df['Team'].value_counts()

Team
New York Jets           58
Kansas City Chiefs      56
Washington Redskins     56
New Orleans Saints      55
San Francisco 49Ers     55
Denver Broncos          54
Minnesota Vikings       54
Los Angeles Chargers    54
Seattle Seahawks        53
Dallas Cowboys          53
Buffalo Bills           53
Atlanta Falcons         53
Detroit Lions           53
Chicago Bears           53
Los Angeles Rams        52
New York Giants         52
Philadelphia Eagles     52
Houston Texans          52
Arizona Cardinals       51
Cincinnati Bengals      51
Green Bay Packers       51
Oakland Raiders         51
Jacksonville Jaguars    50
Cleveland Browns        49
Miami Dolphins          49
Indianapolis Colts      49
Carolina Panthers       49
New England Patriots    49
Baltimore Ravens        48
Pittsburgh Steelers     47
Tampa Bay Buccaneers    47
Tennessee Titans        46
Name: count, dtype: int64

In [41]:
# 가장 높은 연봉을 받는 5명의 선수는 누구인가요?
df['Salary'].sort_values(ascending=False).head(5)

Name
Kirk Cousins       27500000
Jameis Winston     20922000
Marcus Mariota     20922000
Derek Carr         19900000
Jimmy Garoppolo    17200000
Name: Salary, dtype: int64

In [45]:
# 데이터셋에서 먼저 팀을 알파벳 순서로 정렬한 다음 
df = df.sort_values(by='Team',ascending=True)

In [49]:
# 연봉을 내림차순으로 정렬해보세요.
df = df.sort_values(by='Salary',ascending=True)

In [ ]:
# New York Jets 팀에서 가장 나이가 많은 선수는 누구이며 그의 생일 언제인가요?